#c1{
    width: 20vw;
    height: 150px;
    border: 2px solid black;
    margin-top: 10px;
    /* background-image: linear-gradient( to top right ,red,blue); */
    background-image: linear-gradient( 120deg ,red,blue);
}
#c2{
    width: 20vw;
    height: 150px;
    border: 2px solid black;
    margin-top: 10px;
    background-image: repeating-linear-gradient(red, yellow 10%);

}
#c3{
    width: 20vw;
    height: 150px;
    border: 2px solid black;
    margin-top: 10px;
     background: radial-gradient(red,cyan,blue);

}